/Alumno.class
/Archivo.class
/Controlador.class
/Docente.class
/DocumentoFinal.class
/Entregable.class
/EntregableEstructura.class
/Etapa.class
/Grupo.class
/Iteracion.class
/ObservacionEntregable.class
/ObservacionFinal.class
